/* general */
/* no se cambio la tipografia */
html{
  font-family: 'Merriweather', serif;
  scroll-behavior: smooth;
}

body{
  margin: 0;
}

*{
  box-sizing: border-box;
}

img{
height: 100%;
width: 100%;
}


/* header */

header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 7vh;
  width: 100%;
  background-color: rgb(40, 121, 177);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

/* no realiza border radius */
.header__logo{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 2%;
  border-radius: 2%;
  height: 90%;
  width: 20%;

}

.header_icono{
  height: 60%;
  width: 14%;
  padding-right: 2%;
  background-color: rgb(40, 121, 177);
  border: 0;

}


.header__nav{
  width: 100%;
  height: 300%;
  background-color: rgb(40, 121, 177);
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  display: none;
}

.header__nav--active{
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-around;
}
.header__nav--disabled{
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-around;
  display: none;

}

.header__nav ul{
  width: 100%;
  height: 100%;
  background-color: rgb(40, 121, 177);
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-around;
  flex-direction: column;
  font-family: Merriweather;
}


.header__nav li{
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  list-style: none;
  text-align: center;
}

.nav__link{
  color: white;
  font-size: 2rem;
  text-decoration: none;
}

section{
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-around;
  height: 100%;
  width: 100%;
  background-color: rgb(40, 121, 177);

}

.img_model{
  border-radius: 5%;

}

#banner{
  background-color: red;
  width: 100%;
  height: 88vh;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.banner__titulo{
  width: 100%;
  height: 100%;
  background-color: rgb(120, 140, 140);
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  position: relative;
}

.banner__titulo h1{
  background-color: rgba(0, 0, 0, 0.3);(140, 140, 140);
  color: white;
  position: absolute;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  font-size: 1.1rem;
  margin: auto;
  height: 30vh;
  width: 30vh;

}
.banner__carousel{
  display: none;
}


/* Nosotros */

.container-fluid{
  font-family: Merriweather;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  background-color: rgba(0, 0, 0, 0.75);(140, 140, 140);
  align-items: center;
  align-content: center;
  justify-content: center;
  padding: 2px 0 0;
}
#us{
  height: 100%;
  width: 100%;
  flex-flow: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  padding: 25% 10% 25%;
  font-size: 1rem;
}

/* Informacion */

#products{
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  font-size: 1rem;
}

.section__title{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  font-size: 1.5rem;
  padding: 4% 0% 0%;


}
#products p{
  width: 90%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  padding: 2% 2% 2%;
  background-color: rgba(0, 0, 0, 0.05);(140, 140, 140);
  border-radius: 5%;
}
.col-12{
  padding: 0% 2% 25%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.cornisas{
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.antepechos{
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.marcos{
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}


.img_model{
  width: 100%;
  height: 100%;
}


/* Contact */
#contact{
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  font-size: 1rem;
  padding: 0% 0% 0%;

}

.contact__AV{
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  font-size: 1rem;
  padding-bottom: 40%;
}

.contac__item{
  display: flex;
  flex-flow: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  font-size: 0.8rem;
  text-decoration: none;
  color: black;
  padding: 5% 0% 0%;
}

.contac__item span{
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  font-size: 0.8rem;
  text-decoration: none;
  color: black;
  padding-top: 2%;
}

.contac__item a{
  font-size: 0.8rem;
  text-decoration: none;
  color: black;
  padding-top: 2%;
}

.contac__image{
  width: 15%;
  height: 15%;
  display: flex;
  flex-flow: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  padding: 15% 0 0;
}

/* Footer */

footer{
  height: 4vh;
  width: 100%;
  background-color: grey;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;

}

footer span{
  font-size: 0.6rem;
  color: white;
  text-align: center;
}

/* -----------SoloPC--------------------------------------- */

@media (min-width: 950px) {

  header{
    height: 5vh;
    width: 100%;
  }
  .header_icono{
    display: none;
  }
  .header__logo{
    height: 90%;
    width: 8%;
  }

  .header__nav{
    height: 100%;
    width: 30%;
    background-color: transparent;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;

  }

  .header__nav ul{
    height: 100%;
    width: 90%;
    background-color: transparent;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    flex-direction: row;
    margin: 0;
    padding: 0 0 0;

  }
  .nav__link{
    height: 80%;
    width: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    font-size: 1.3rem;
  }
/* Banner */

  .banner__titulo{
    display: none;
  }
  #banner{
    background-color: rgb(40, 121, 177);
    width: 100%;
    height: 100%;

  }

  .banner__carousel{
    display: block;
    width: 80%;
  }
/* ---------------Revisar carousel --------*/
  .carousel-control-next{
    height: 20vh;
    width: 20vh;
  }
  .carousel-control-prev{
    height: 20vh;
    width: 20vh;
    margin-top: 150px;

  }

  /* main */

  .section__title{
    font-size: 2.5rem;
    }

  /* Nosotros */

  #us{
    height: auto;
  }

  #us p{
    font-size: 1.7rem;
    margin-top: 8%;
    margin-left: 10%;
    margin-right: 10%;
  }

  /* products */

  #products{
    font-size: 1rem;
  }

  .section__title{
    font-size: 2.5rem;
    padding: 4% 0% 0%;


  }
  #products p{
    width: 50%;
    margin-top: 5vh;
    border-radius: 1%;
    font-size: 1.5rem;

  }

  .img_model{
    width: 60%;
    height: 85%;
  }

  /* Contacto */

  .container-fluid{
    background-color: rgb(40, 121, 177);

  }

  #contact h2{
    width: 100%;
    text-align: center;
    margin-bottom: 15vh;
  }

  #contact{
    width: 50%;

    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 10vh;

  }

  .contact__AV{
    display: flex;
    flex-flow: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    font-size: 1rem;
    padding-bottom: 0;
    margin-top: 10vh;
    margin-bottom: 10vh;
  }

  .col-11{
    height: 25vh;
    width: 25%;

  }

  .contac__image{
    width: 35%;
    height: 35%;
    padding: 0 0 0;
  }

 }


/* tablet-----------------------------------------------------------*/

@media (min-width: 767px) {

  header{
    height: 8vh;
    box-shadow: none;
  }

  /* no realiza border radius */
  .header__logo{
    padding-left: 0%;
    margin-left: 5vh;
    border-radius: 2%;
    height: 85%;
    width: 16%;
  }

  .header_icono{
    height: 50%;
    width: 10%;
    padding-right: 2%;
    background-color: rgb(40, 121, 177);
  }


  .header__nav{
    height: 50vh;
    background-color: rgb(40, 121, 200);
  }
/* ----------ver----------- */
  .header__nav--active{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-around;
  }
  .header__nav--disabled{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    display: none;

  }

  .header__nav ul{
    width: 100%;
    height: 100%;
    background-color: rgb(40, 121, 177);
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    flex-direction: column;
    font-family: Merriweather;
  }


  .header__nav li{
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    list-style: none;
    text-align: center;
  }

  .nav__link{
    color: white;
    font-size: 2rem;
    text-decoration: none;
  }

/* Banner */


  #banner{
    background-color: rgb(40, 121, 177);
    width: 100%;
    height: 100%;

  }
  .banner__titulo{
    width: 80vh;
    height: 90vh;
    margin-top: 30vh;
  }

  .banner__carousel{
    display: none;
  }
  /* main */


  /* Nosotros */

  #us{
    height: auto;
  }

  #us p{
    font-size: 0.9rem;
    margin-top: 15%;
    margin-left: 5%;
    margin-right: 5%;
  }
  #us h2{
    font-size: 2rem;
  }


  /* products */

  #products{
    font-size: 0.9rem;
  }

  .section__title{
    font-size: 2rem;
    padding: 4% 0% 0%;


  }
  #products p{
    width: 70%;
    margin-top: 4vh;
    border-radius: 0%;
    font-size: 0.9rem;
  }

  .img_model{
    width: 90%;
    height: 90%;
  }

  /* Contacto */

  .container-fluid{
    background-color: rgb(40, 121, 177);

  }

  #contact h2{
    width: 100%;
    text-align: center;
    margin-bottom: 20vh;
  }

  #contact{
    width: 90%;
  }

  .col-11{
    height: 25vh;
    width: 25%;
  }

  .contac__image{
    width: 35%;
    height: 35%;
    padding: 0 0 0;
 }
